video.other-peer{
    object-fit: cover;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
    display: none;
}
video.other-peer:hover{
  cursor: move;
}
#my-video_div{
 position: fixed;
 left:0px;
 bottom:0px;
 width: 200px;
}
.my-video{
 left:0px;
 height: 200px;
 width: 200px;
}
#alert{
 text-align: center;
}
#peers{
 position: absolute;
 right:0px;
 bottom:0px;
 height: 200px;
 width: 300px;
}
#select,#select_day{
 width: 300px
}
.人狼,.占い師,.騎士,.day,#dead{
 display: none;
}
.dead{
 opacity: 0.2;
}
