nav{
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  border-bottom: 1px solid  #b8b8b8;
}
nav p{
  font-size: 24px;
}
ul{
  padding-left: 20px;
}
video.other-peer{
    object-fit: cover;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
    display: none;
    position: fixed;
}
video.other-peer:hover{
  cursor: move;
}
#my-video_div{
 position: fixed;
 left:0px;
 bottom:0px;
 width: 200px;
}
.my-video{
 left:0px;
 height: 200px;
 width: 200px;
}
#alert{
 text-align: center;
}
#peers{
 /*position: absolute;
 right:0px;
 bottom:0px;
 height: 200px;
 width: 300px;*/
}
#select,#select_day{
 width: 300px
}
.人狼,.占い師,.騎士,.day,#dead{
 display: none;
}
.dead{
 opacity: 0.2;
}

body.night_body{
  /*color:white;*/
  background-color:black;
}
body.day_body{
  /*color:black;*/
  background-color:white;
}
#start{
  display: none;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 180px;
}
footer {
  width: 100%;
  bottom: 0;
  height: 180px;
  position: absolute;
  background-color: #b8b8b8;
  line-height:60px;
  text-align:center;
}
footer ul {
display:inline;
padding-left:5px;
}
footer li {
  display:inline;
  padding-left:10px;
  padding-right:5px;
  font-size: 10px;
}

footer li+li {
  border-left:1px solid #000000;
}

footer p{
  margin-bottom: 0px;
  font-size: 24px;
}
